<app-header></app-header>

<section class="questions contenedor" id="contactar" style="justify-content: center;">


    <form class="form" autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

        <label for="name" class="label-prim">
            <p >Nombre <span *ngIf="errors.name != ''">Campo Requerido, minimo 4 caracteres</span> </p>
            <input formControlName="name" id="name" name="name" type="text" placeholder="nombre">
        </label>
        <label for="email" class="label-prim">
            <p >Email o Numero de telefono  <span *ngIf="errors.email != ''">Campo Requerido, minimo 6 caracteres</span></p>
            <input formControlName="email" id="email" name="email" type="text" placeholder="email o numero de telefono">
            
        </label>
        <label for="affair" >
            <p >Asunto  <span *ngIf="errors.affair != ''">Campo Requerido, minimo 5 caracteres</span></p>
            <input formControlName="affair" id="affair" name="affair" type="text" placeholder="asunto">
            
        </label>
        <label for="message">
            <p >Mensaje  <span *ngIf="errors.message != ''">Campo Requerido, minimo 10 caracteres</span></p>
            <textarea formControlName="message" name="message" id="message" cols="30" rows="10" placeholder="mensaje"></textarea>
            
        </label>

        <button style="cursor: pointer;">
            Enviar
        </button>

    </form>


</section>

<app-footer></app-footer>